@import "../../_variables.scss";

.footer__brand{
  display: flex;
}
.footer__brand__logo{
  margin: 15px 15px 15px 0;
}
.footer__brand__text{
  margin: 15px 15px 15px 0;
}
.footer__brand__text__title{
  font-weight: bold;
  font-family: $fontFamily;
  font-size: 12px;
  color: rgb(43, 43, 43);
  margin-top: 7px;
  margin-bottom: 3px;
}
.footer__brand__text__desciption{
  font-family: $fontFamily;
  color: rgb(110, 110, 110);
  font-size: 12px;
}