// medidas horizontais
$widthPage: 820px;
$widthCountUp: 45px;
$lateralPaddingMeta: 10px;
$margin-box: 20px;
$padding-box: 20px;

// medidas verticais
$heightMeta: 24px;
$heightTitle: 22px;
$heightIcon: 33px;
$verticalPaddingMeta: 5px;

// cores
$brand-primary: #e3472f;
$gray-darker: #111;
$gray-dark: rgb(61, 61, 61);
$gray-lighter: rgb(210, 210, 210);
$body-bg: #fff;
$link-color: $brand-primary;
$link-hover-color: $brand-primary;
$link-hover-decoration: underline;

// bordas
$border-radius: 3px;

// fontes
$fontFamily: Arial, Helvetica, sans-serif;
$font-size-large: 24px;
$font-size-big: 18px;
$font-size-base: 14px;
$font-size-small: 10px;