@import "../__shared/mixins.scss";

.add-post-button {
  @include box(134px, 40px);
  @include flex();
	&__icon {
    @include box(40px, 40px);
    @include border(1px, solid, rgb(214, 56, 32), 3px 0 0 3px);
		font: normal bold 18px/40px Arial, Helvetica, sans-serif;
    text-align: center;
    @include paint(rgb(227, 71, 47), #fff);
	}
	&__text {
		@include box(94px, 40px);
    @include border(1px, solid, rgb(214, 56, 32), 3px 0 0 3px);
		font: normal bold 14px/40px Arial, Helvetica, sans-serif;
		text-align: center;
		@include paint(rgb(227, 71, 47), #fff);
	}
}
