.hamburguer-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: solid #dbdbdb 1px;
  border-radius: 3px;
  margin-left: 20px;
  padding: 10px; }

.hamburguer-button__bar {
  width: 18px;
  height: 4px;
  background-color: #545454;
  margin-bottom: 3px; }
