body {
  margin: 0;
  background: #FFF; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-bottom: 1px solid #f0f0f0; }

.header__container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  height: 100px;
  background-color: #FFF; }

.header__box-left {
  display: flex;
  flex-grow: 2; }

.header__box-right {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2; }

#body {
  padding-top: 200px;
  height: 600px; }

.body__container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  height: 600px; }

#footer {
  background-color: #fff;
  height: 60px; }

.footer__container {
  display: flex;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  height: 70px;
  background-color: #fff; }

.footer__box-left {
  display: flex;
  flex-grow: 2; }

.footer__box-right {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2; }

.footer__brand {
  display: flex; }

.footer__brand__logo {
  margin: 15px 15px 15px 0; }

.footer__brand__text {
  margin: 15px 15px 15px 0; }

.footer__brand__text__title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2b2b2b;
  margin-top: 7px;
  margin-bottom: 3px; }

.footer__brand__text__desciption {
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  font-size: 12px; }

.credites {
  margin: 15px 0; }

.links {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2b2b2b;
  margin-top: 7px;
  margin-bottom: 3px; }
  .links a {
    color: #e3472f;
    text-decoration: none; }

.copyright {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  font-size: 12px; }
