body {
  margin: 0;
  background: #FFF; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-bottom: 1px solid #f0f0f0; }

.header__container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  height: 100px;
  background-color: #FFF; }

.header__box-left {
  display: flex;
  flex-grow: 2; }

.header__box-right {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2; }

#body {
  height: 600px; }

.body__container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  height: 600px;
  background-color: #daf7f7; }

#footer {
  background-color: #999;
  height: 60px; }

.footer__container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  height: 60px;
  background-color: #7693f7; }
