@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  margin: 0;
  background: #FFF; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  border-bottom: 1px solid #f0f0f0; }

.header__container {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  height: 100px;
  background-color: #FFF; }

.header__box-left {
  display: flex;
  flex-grow: 2; }

.header__box-right {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2; }

#body {
  padding-top: 160px;
  min-height: 100vh; }

.body__container {
  box-sizing: border-box;
  width: 100%;
  max-width: 820px;
  margin: 0 auto; }

#footer {
  background-color: #fff;
  height: 60px; }

.footer__container {
  display: flex;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  height: 70px;
  background-color: #fff; }

.footer__box-left {
  display: flex;
  flex-grow: 2; }

.footer__box-right {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 2; }

.footer__brand {
  display: flex; }

.footer__brand__logo {
  margin: 15px 15px 15px 0; }

.footer__brand__text {
  margin: 15px 15px 15px 0; }

.footer__brand__text__title {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2b2b2b;
  margin-top: 7px;
  margin-bottom: 3px; }

.footer__brand__text__desciption {
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  font-size: 12px; }

.logo {
  width: 40px;
  height: 40px;
  padding: 2px;
  color: #fff;
  position: relative;
  border-radius: 20px;
  overflow: hidden; }

.logo__text {
  color: #FFF;
  position: absolute;
  top: 14px;
  left: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.logo__hexagon {
  position: relative;
  width: 40px;
  height: 23.09px;
  background-color: #e3472f;
  margin: 8.25px 0;
  margin-left: -0.12px; }

.logo__hexagon:before,
.logo__hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 0px; }

.logo__hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #e3472f; }

.logo__hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #e3472f; }

.hamburguer-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: solid #dbdbdb 1px;
  border-radius: 3px;
  margin-left: 20px;
  padding: 10px;
  cursor: pointer; }

.hamburguer-button__bar {
  width: 18px;
  height: 4px;
  background-color: #545454;
  margin-bottom: 3px; }

.search {
  width: 100%;
  position: relative;
  display: flex;
  box-sizing: border-box; }

.searchTerm {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 0 3px 3px 0;
  outline: none;
  color: #9DBFAF; }

.searchTerm:focus {
  color: #00B4CC; }

.searchButton {
  width: 40px;
  height: 40px;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  text-align: center;
  color: #cacaca;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 20px; }

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 300px;
  height: 40px;
  margin-left: 20px;
  position: relative; }

.user {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: solid #aaa 0px;
  border-radius: 3px;
  margin-left: 20px;
  position: relative; }

.user__count {
  position: absolute;
  width: 20px;
  height: 20px;
  left: -10px;
  top: 10px;
  background-color: #e3472f;
  border-radius: 3px; }

.user__image {
  border-radius: 3px; }

.add-post-button {
  height: 40px;
  display: flex; }

.add-post-button__icon {
  box-sizing: border-box;
  color: #fff;
  background-color: #e3472f;
  border-radius: 3px 0 0 3px;
  border-right: 1px solid #d63820;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 24px; }

.add-post-button__text {
  color: #fff;
  background-color: #e3472f;
  border-radius: 0 3px 3px 0;
  width: 94px;
  height: 40px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 14px; }

.link {
  display: flex;
  margin-bottom: 20px; }

.link__count-up {
  width: 45px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 77px;
  border: 1px solid #e6e6e6;
  border-radius: 3px; }

.link__count-up__icon {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #e3472f;
  text-align: center;
  height: 33px;
  line-height: 33px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer; }

.link__count-up__number {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #111;
  text-align: center;
  height: 44px;
  line-height: 44px; }

.link__content {
  padding-left: 20px; }

.link__content__url {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #d2d2d2;
  font-size: 10px;
  margin-bottom: 5px; }

.link__content__title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  margin-bottom: 5px; }

.link__content__meta {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }

.link__content__meta__category {
  box-sizing: border-box;
  background-color: #e3472f;
  color: #fff;
  height: 24px;
  padding: 5px 10px;
  border-radius: 12px; }

.link__content__meta__author {
  box-sizing: border-box;
  color: #e3472f;
  height: 24px;
  padding: 5px 10px; }

.link__content__meta__time {
  box-sizing: border-box;
  color: #3d3d3d;
  height: 24px;
  padding: 5px 10px; }

.link__content__meta__comments {
  box-sizing: border-box;
  color: #e3472f;
  height: 24px;
  padding: 5px 10px; }

.credits {
  margin: 15px 0; }

.credits__links {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2b2b2b;
  margin-top: 7px;
  margin-bottom: 3px; }
  .credits__links a {
    color: #e3472f;
    text-decoration: none; }

.credits__copyright {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #6e6e6e;
  font-size: 12px; }

.reload-button {
  height: 60px;
  width: 100%;
  color: #e3472f;
  background-color: #f4f4f1;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  margin: 60px 0 20px; }

.loading {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px; }

.lds-grid {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e3472f;
  animation: lds-grid 1.2s linear infinite; }

.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s; }

.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s; }

.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s; }

.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s; }

.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s; }

@keyframes lds-grid {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0.5; } }
