.reload-btn{
  height: 60px;
  width: 100%;
  margin: 60px 0 20px;
  border-radius: 3px;
  border: 0;
  line-height: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(244, 244, 241);
  color: #e3472f;
  cursor: pointer;
  &:focus {
    outline-width: 0;
  }
}
.reload-btn__icon-ctnr{
  display: inline-block;
}
.reload-btn__icon-ctnr--spinning{
  animation-name: rodar;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes rodar {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}