.reload-button{
  height: 60px;
  width: 100%;
  color: #e3472f;
  background-color: rgb(244, 244, 241);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 60px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}