$width: 40px;
$height: 40px;

.logo {
  width: $width;
  height: $height;
  padding: 2px;
  color: #fff;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.logo__text{
  color: #FFF;
  position: absolute;
  top: 14px;
  left: 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.logo__hexagon {
  position: relative;
  width: 40px; 
  height: 23.09px;
  background-color: #e3472f;
  margin: 8.25px 0;
  margin-left: -0.12px;
}

.logo__hexagon:before,
.logo__hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-radius: 0px
}

.logo__hexagon:before {
  bottom: 100%;
  border-bottom: 11.55px solid #e3472f;
}

.logo__hexagon:after {
  top: 100%;
  width: 0;
  border-top: 11.55px solid #e3472f;
}
