.loading{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px
}
.lds-grid {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.lds-grid div {
  box-sizing: border-box;
  height: 55px;
  border-radius: 3px;
  background: #f1f1f1;
  margin-bottom: 20px
}
.lds-grid div:nth-child(1) {
  width: 100%;
  animation: lds-grid 1.2s 0s linear infinite,
             lds-box1 2.0s ease infinite;
}
.lds-grid div:nth-child(2) {
  width: 80%;
  animation: lds-grid 1.2s 0.3s linear infinite,
             lds-box2 2.0s ease infinite;
}
.lds-grid div:nth-child(3) {
  width: 40%;
  animation: lds-grid 1.2s 0.5s linear infinite,
             lds-box3 2.0s ease infinite;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes lds-box1 {
  0% {
    max-height: 0;
    max-width: 0;
  }
  40% {
    max-height: 70px;
    max-width: 100%;
  }
}

@keyframes lds-box2 {
  0% {
    max-height: 0;
    max-width: 0;
  }
  40% {
    max-height: 70px;
    max-width: 80%;
  }
}

@keyframes lds-box3 {
  0% {
    max-height: 0;
    max-width: 0;
  }
  40% {
    max-height: 70px;
    max-width: 40%;
  }
}
  