@import "../../_variables.scss";

.link{
  box-sizing: border-box;
  display: flex;
  min-height: 77px;
  margin-bottom: $margin-box;
}
.link--appearing:nth-last-child(-n+2){
  animation-name: aparecer;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0,0.5,0.5,1);
}
@keyframes aparecer {
  0% {
    transform: translate(0,-200%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0,0);
    opacity: 1
  }
}
.link__count-up{
  box-sizing: border-box;
  width: 45px;
  height: 77px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  font-weight: bold
}
.link__count-up__icon{
  box-sizing: border-box;
  height: $heightIcon;
  line-height: $heightIcon;
  border-bottom: 1px solid $gray-lighter;
  font-size: $font-size-large;
  font-family: $fontFamily;
  text-align: center;
  color: $brand-primary;
  cursor: pointer;
  &:hover{
    background-color: #eee
  }
  &:active i{
    transform: translate(0, -4px);
  }
}
.link__count-up__number{
  box-sizing: border-box;
  height: 44px;
  line-height: 44px;
  font-size: $font-size-large;
  font-family: $fontFamily;
  font-weight: bold;
  text-align: center;
  color: $gray-darker;
}
.link__content{
  padding-left: $padding-box;
}
.link__content__url{
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: $font-size-small;
  font-family: $fontFamily;
  color: $gray-lighter; 
}
.link__content__title{
  margin-bottom: 5px;
  line-height: $heightTitle;
  font-size: $font-size-big;
  font-family: $fontFamily;
  color: $gray-dark;
}
.link__content__meta{
  display: flex;
  font-family: $fontFamily;
  font-size: 11px;
}
.link__content__meta__category{
  box-sizing: border-box;
  height: $heightMeta;
  padding: $verticalPaddingMeta $lateralPaddingMeta;
  border-radius: ($heightMeta / 2);
  background-color: $brand-primary;
  color: #fff;
}
.link__content__meta__author{
  box-sizing: border-box;
  height: $heightMeta;
  padding: $verticalPaddingMeta $lateralPaddingMeta;
  color: $brand-primary;
}
.link__content__meta__time{
  box-sizing: border-box;
  height: $heightMeta;
  padding: $verticalPaddingMeta $lateralPaddingMeta;
  color: $gray-dark;
}
.link__content__meta__comments{
  box-sizing: border-box;
  height: $heightMeta;
  padding: $verticalPaddingMeta $lateralPaddingMeta;
  color: $brand-primary;
}